---
import Container from "../../shared/Container.astro";
import Title2 from "../../shared/Title2.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Paragraph from "../../shared/Paragraph.astro";
import GradiantText from "../../shared/GradiantText.astro";
import IndustryCard from "./components/IndustryCard.astro";
import { areasSectionData } from "./data.ts";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="industrias" class=`${className}`>
  <Container size="wide" className="text-center flex flex-col items-center gap-4">
    <Title2>{areasSectionData.title}</Title2>
    <SubTitle2 as="h3" className="max-w-3xl">
      {areasSectionData.subheading.text1_1}
      <GradiantText>{areasSectionData.subheading.text1_2}</GradiantText>
    </SubTitle2>
    <Paragraph className="max-w-4xl text-heading-3">
      {areasSectionData.subheading.text2}
    </Paragraph>
  </Container>
  <Container size="wide">
    <div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
      {
        areasSectionData.areas.map((industry) => (
          <IndustryCard
            title={industry.title}
            visual={industry.visual}
            items={industry.items}
            href={industry.href}
            alt={industry.alt}
            objectPosition={industry.objectPosition}
          />
        ))
      }
    </div>
  </Container>
</section>
